* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    font-size: 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
header {
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    background-color: #fff;
}
.bg-color:nth-child(2n+1) {
    height: 100%;
    width: 100%;
    background-color: #f7f7f9;
    padding-bottom: 10px;
}
.header-block {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
}
.header-logo {
    padding: 0 20px 0 10px;
}
.header-logo img {
    width: 40px;
}
.header-menu  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 900px;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.header-menu a {
    text-decoration: none;
    color: #000;
}
.header-menu p:hover {
    font-weight: 600;
    cursor: pointer;
}
.header-lang {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.header-links {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-left: 2px solid rgba(0,0,0,0.1);
}
.header-links i, .footer-social i {
    padding: 0 6px;
}
#linkfacebook img, #linkinstagram img {
    width: 30px;
}
.header-links img:hover {
    background-color: #dee3e1;
    border-radius: 5px;
}
.main-block {
    max-width: 900px;
    margin: 0 auto 20px auto;
    height: 100%;
    padding: 0 10px;
}
.link-height {
    height: 50px;
}
.receive-book-info, .know-yourself-info, .review-info{
    display: flex;
}
.mobile-receive-book-info, .mobile-receive-book-note-payment {
    display: none;
}
.receive-book-text {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.3;
    flex-basis: 60%;
    padding: 50px 30px 0 0;
}
.receive-book-text h1 {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.3;
}
.receive-book-text span {
    display: block;
}
.receive-book-photo {
    flex-basis: 40%;
    background: url("image/receive-book-photo3.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 45vh;
}
.receive-book-note {
    width: 58%;
    font-size: 0.9rem;
    padding: 10px 0;
}
.receive-book-payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 10px;
}
.receive-book-payment  p {
    font-size: 1.5rem;
}
.pay-download, .pay-later, .buy-book {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pay-later .book-button {
    margin-top: 2px;
}
.pay-download p, .buy-book p {
    padding: 5px;
}
.book-button {
    width: 270px;
    background-color: #1c1c1c;
    color: #FFF;
    font-size: 1.3em;
    padding: 10px 5px;
    margin: 20px 0 0 0;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.book-button:hover {
    background-color: #424344;
}

input			{
    font-size:1.3rem;
    padding: 3px 0;
    display:block;
    width:250px;
    border:none;
    border-bottom: 1px solid #757575;
}
input:focus {
    outline:none;
}
label 				 {
    color:#ddd;
    font-size: 1rem;
    position:relative;
    pointer-events:none;
    left:5px;
    top: -23px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-50px;
    font-size:0.9rem;
    color:#5264AE;
}
.bar 	{
    position:relative;
    display:block;
    width:250px;
}
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}


/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}



.know-yourself-photo {
    flex-basis: 40%;
    background: url("image/happy22.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
}
.know-yourself-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.3;
    flex-basis: 60%;
    padding: 0 0 0 30px;
}
.know-yourself-text p {
    font-size: 1.3rem;
}
.look-info, .why-info, .review-author {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body h2 {
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
}
.look-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.look-block img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    padding: 20px;
}
.look-block p {
    flex: 1;
    font-size: 1.3rem;
    line-height: 1.3;
}
.why-block {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
}
.why-item {
    width: 150px;
    border: 2px solid black;
    font-size: 1.3em;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
}
.why-book {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: baseline;
}
.why-info p, .critical-thinking-text p {
    font-size: 1.3rem;
    line-height: 1.3;
}
#critical-thinking {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.critical-thinking-info {
    padding-bottom: 20px;
    display: flex;
}
.critical-thinking-photo {
    flex-basis: 40%;
    background: url("image/think11.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
}
.critical-thinking-button {
    display: flex;
   justify-content: center;
}
.critical-thinking-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.3;
    flex-basis: 60%;
    padding-right: 30px;
}
.review-info {
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
}
.control {
    cursor: pointer;
}
.review-author {
    flex-basis: 40%;
}
.review-text {
    flex-basis: 50%;
}
.review-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-bottom: 10px;
}
.author-info {
    display: flex;
    flex-direction: column;
}
.author-text img {
    width: 200px;
    float: left;
    padding: 0 20px 20px 0;
}
.author-sign {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 0 0;
}
.author-sign p {
    font-size: 1.3rem;
}
.author-sign img {
    width: 150px;
}
footer {
    background-color: #000;
    color: #fff;
}
.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}
.footer-text {
    text-transform: uppercase;
    font-size: 1.5rem;
}
.footer-social {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-left: 2px solid #fff;
}
.footer-mail a {
    text-decoration: none;
    color: #fff;
}

#toggle {
    position: absolute;
    right: 20px;
    top: 2px;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

#toggle .span {
    height: 7px;
    background: rgba(0,0,0,0.7);
    margin: 5px auto;
    backface-visibility: hidden;
}

#toggle.on #one {
    transform: rotate(45deg) translateX(6px) translateY(6px);
}

#toggle.on #two {
    opacity: 0;
}

#toggle.on #three {
    transform: rotate(-45deg) translateX(10px) translateY(-12px);
}
#resize {
    z-index: 1;
    position: absolute;
    top: 0px;
    background: #ddd;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    display: table;
}
#resize #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    padding-top: 10px;
}

#resize #menu p {
    display: block;
    text-align: center;
    padding: 20px 0;
    text-align: center;
    font-size: 2rem;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
#resize #menu a {
    width: 100%;
    text-decoration: none;
}
#resize #menu p:hover {
    background: #212121;
}

#resize #menu p:hover {
    color: #fff;
    transition: all 0.3s ease-out;
}

#resize #menu p {
    color: #212121;
}

#resize.active {
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 1250px) {
    .header-links, .header-lang {
        display: none;
    }
    .header-block {
    justify-content: space-around;
    }
}
@media screen and (max-width: 990px) {
    .header-menu {
        display: none;
    }
    .header-block {
        justify-content: space-between;
        padding: 0;
    }
    #toggle {
        visibility: visible;
        opacity: 1;
    }
    #resize {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .main-block {
        padding: 10px;
    }
    .bg-color:nth-child(2n+1) {
        padding-bottom: 0;
    }
    .receive-book-info, .receive-book-note, .receive-book-payment {
        display: none;
    }
    .mobile-receive-book-info, .mobile-receive-book-note-payment{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .receive-book-text, .know-yourself-text {
        margin: 10px 0;
        padding: 0;
    }
    .receive-book-photo, .know-yourself-photo {
        margin: 20px 0;
    }
    .author-sign, .footer-block, .why-block, .know-yourself-info, .why-book {
        flex-direction: column;
        align-items: center;
    }
    .mobile-receive-book-note {
        font-size: 0.7rem;
        padding: 10px 0;
    }
    .book-button {
        margin: 0;
    }
    .pay-download {
        padding-bottom: 15px;
    }
    .buy-book {
        padding-bottom: 39px;
    }
    .pay-download p, .buy-book p {
        padding: 2px;
    }
    .know-yourself-info {
        display: block;
    }
    .know-yourself-info .book-button, .look-info .book-button, .why-book, .why-book .book-button, #critical-thinking .book-button, .author-sign p  {
        margin: 10px 0;
    }
    .look-block {
        flex-direction: column;
        padding-bottom: 10px;
    }
    .look-block img {
        width: 72px;
        height: 72px;
        padding: 10px;
    }
    .why-item {
        margin: 10px 0;
    }
    .critical-thinking-info {
        flex-direction: column-reverse;
    }
    .critical-thinking-photo {
        flex-basis: unset;
    }
    {
        margin: 10px 0;
    }
    .review-info {
        flex-direction: column;
        padding-bottom: 20px;
    }
    .control {
        display: none;
    }
    .review-photo img {
        width: 100px;
        height: 100px;
    }
    .review-author {
        padding-bottom: 15px;
    }
    .author-sign img {
        width: 96px;
    }
    .footer-block {
        height: 18vh;
    }
    .footer-copyright {
       display: none;
   }
    .footer-social {
        border-left: none;
    }
    input:focus ~ label, input:valid ~ label 		{
        top:-45px;
    }
    .link-height {
        height: 44px;
    }
}