* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    font-size: 16px;
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
header {
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
.bg-color:nth-child(2n+1) {
    height: 100%;
    width: 100%;
    background-color: #f7f7f9;
}
.header-block {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.header-logo {
    padding: 0 20px 0 10px;
}
.header-logo img {
    width: 60px;
}
.header-menu  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 900px;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.header-menu a {
    text-decoration: none;
    color: #000;
}
.header-menu p:hover {
    background-color: #dee3e1;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.header-lang {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.header-links {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-left: 2px solid rgba(0,0,0,0.1);
}
.header-links i {
    padding: 0 6px;
}
#linkfacebook img, #linkinstagram img {
    width: 30px;
}
.header-links img:hover {
    background-color: #dee3e1;
    border-radius: 5px;
}
.main-block {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 20px 10px;
}
#receive-book {
    max-width: 900px;
    margin: 0 auto;
}
.receive-book-info, .know-yourself-info, .author-info{
    display: flex;
}
.receive-book-text {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.3;
    flex-basis: 60%;
    padding: 50px 30px 0 0;
}
.receive-book-photo {
    flex-basis: 40%;
    background: url("image/receive-book-photo3.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 45vh;
}
.receive-book-note {
    width: 58%;
    font-size: 0.9rem;
    padding: 10px 0;
}
.receive-book-payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}
.receive-book-payment  p {
    font-size: 1.5rem;
}
.pay-download, .pay-later, .buy-book {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pay-download p, .buy-book p {
    padding: 5px;
}
.book-button {
    width: 270px;
    background-color: #1c1c1c;
    color: #FFF;
    font-size: 1.3em;
    padding: 10px 5px;
    margin: 20px 0 0 0;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.book-button:hover {
    background-color: #424344;
}
input[type=email] {
    width: 250px;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    box-shadow: 0 5px 5px -5px #333;
}
.know-yourself-photo, .author-photo {
    flex-basis: 40%;
    background: url("image/know-yourself1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
}
.know-yourself-text, .author-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.3;
    flex-basis: 60%;
    padding: 50px 0 0 50px;
}
.know-yourself-text p {
    font-size: 1.3rem;
}
.look-info, .why-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.look-info h2, .why-info h2 {
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.look-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.look-block img {
    width: 96px;
    border-radius: 50%;
    padding: 20px;
}
.look-block p {
    flex: 1;
    font-size: 1.3rem;
    line-height: 1.3;
}
.why-block {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
}
.why-item {
    width: 150px;
    background-color: #1c1c1c;
    color: #FFF;
    font-size: 1.3em;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}
.why-book {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: baseline;
}
.why-info p, .critical-thinking-text p {
    font-size: 1.3rem;
    line-height: 1.3;
}
#critical-thinking {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.critical-thinking-info {
    display: flex;
}
.critical-thinking-photo {
    flex-basis: 40%;
    background: url("image/know-yourself1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
}
.critical-thinking-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.3;
    flex-basis: 60%;
}
.reviews {
    width : 900px;
    height : 20vh;
    overflow : hidden ;
    background-color : #fff ;
    border-radius : 5px;
    margin : 0 auto ;
    position : relative ;
    box-shadow : 0 0 10px -2px #ddd ;
}
.panel {
    width : 100%;
    max-height: 100%;
    position : absolute ;
}
.PanelAct {
    left : 0 ;
}
.panel img {
    width : 100px;
    height : 100px;
    text-align : center ;
    float : left ;
    margin : 25px;
}
/*== Removal Start
png images background
==*/
.panel:nth-of-type(1) img {
    background : #12aedb ;
}
.panel:nth-of-type(2) img {
    background : #db4646 ;
}
.panel:nth-of-type(3) img {
    background : #96c465 ;
}
/*== Removal End==*/

.panel p {
    float : left ;
    max-width : 700px;
    clear : right ;
    text-align : justify ;
    margin : 25px 0 10px 0;
    font-size : 14px ;
    color : #aaa ;
    line-height : 1.2em
}
.panel h7 {
    float : left ;
    width: 200px;
    font-size : 14px ;
    color : #999 ;
    font-weight : bold ;
    font-style : italic ;
}
.control {
    position : absolute ;
    bottom : 20px;
    right : 30px;
}
.control span {
    background-color : rgba(0,0,0,0.1) ;
    padding : 5px;
    display : inline-block ;
    vertical-align : top ;
    margin-left : 5px ;
    border-radius : 50%;
    cursor : pointer ;
    transition : 0.3s ease-in
}
.ContActive {
    background-color : #bbb !important ;
}

/**/
#author h2 {
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
}